<div class="container">
  <p class="title">My Phone Book!</p>
  <header class="header">
    <input type="text" class="input" placeholder="search text goes here" [(ngModel)]="search">
    <button class="btn" (click)="showModal = !showModal">Add phone</button>
  </header>
  <main class="main">
    <app-table [model]="dataModel" (editIndex)="setEdit($event)" [searchData]="search"></app-table>
  </main>
</div>
<app-modal *ngIf="showModal" (close)="closeModal($event)" [model]="dataModel" [mockData]="editablePhone"></app-modal>