table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
}

tr{
    border-bottom: 1px solid rgb(160, 162, 162);
}
tr:not(tr.thead):hover{
    background-color: rgb(217, 217, 217);
}
tr:last-child{
    border: none;
}

.thead{
    border-bottom-width: 2px;
}

th{
    font-weight: bold;
    padding: 14px 8px;
}
span[data-direction]:hover{
    cursor: pointer;
}
th span{
    padding: 2px;
}
td{
    padding: 16px 10px;
}


.btn{
    padding: 5px 10px;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    border: none;
}

/* edit btn */
.edit-btn{
    background-color: rgb(255, 154, 30);
}

.edit-btn:hover{
    cursor: pointer;
    background-color: rgb(253, 164, 55);
}

.edit-btn:active{
    background-color: rgb(253, 143, 9);
    box-shadow: 0px 0px 3px 3px rgba(253, 164, 55, 0.516);
}

/* delete-btn */

.delete-btn{
    background-color: rgb(206, 52, 52);
}

.delete-btn:hover{
    cursor: pointer;
    background-color: rgb(215, 71, 71);
}

.delete-btn:active{
    background-color: rgb(194, 22, 22);
    box-shadow: 0px 0px 3px 3px rgba(206, 52, 52, 0.499);
}

/* sort indicator */

.active[data-direction="-1"]::after{
    content: '▲';
    padding-left: 5px;
    position: absolute;
}

.active[data-direction="1"]::after{
    content: '▼';
    padding-left: 5px;
    position: absolute;
}